.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
    height: 500px;
    border-radius: 40px;
    box-shadow: 5px 5px 5px 5px tomato;
    border: 1px solid tomato;
}
.shopcategory_indexsort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory_sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
    width: 80px;
    height: auto;
    cursor: pointer;
}
.shopcategory_sort img{
    width: 20px;
    height: 20px;
}
.shopcategory_indexsort p span{
    font-weight: 600;
}
.shopcategory_products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
    column-gap: 20px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.shopcategory_products img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
.shopcategory_loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 70px;
    border-radius: 80px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
@media (max-width:1280px) {
    .shopcategory-banner {
        margin: 20px auto;
        width: 90%;
    }
    .shopcategory_indexsort {
        width: 90%;
        margin: auto;
    }
    .shopcategory_sort {
        padding: 5px 10px;
        font-size: 12px;
    }
    .shopcategory_indexsort p {
        font-size: 12px;
    }
    .shopcategory_products {
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }
    .shopcategory_products .item {
        margin: auto;
    }
    .shopcategory_loadmore {
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
}
@media (max-width:800px) {
    .shopcategory-banner {
        width: 95%;
    }
    .shopcategory_products {
        width: 95%;
    }
    .shopcategory_loadmore {
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
    }
}
@media (max-width:500px) {
    .shopcategory_products {
        grid-template-columns: 1fr 1fr;
    }
}