.new_collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
    border-radius: 10px;
}
.new_collections h2{
    color: darkslategray;
    font-size: 50px;
    font-weight: 600;
}
.new_collections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.collections{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    gap: 50px;
}
.collections img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
@media (max-width:1280px) {
    .new_collections h2 {
        font-size: 40px;
    }
    .new_collections hr {
        width: 160px;
        height: 4px;
    }
    .collections {
        gap: 30px;
    }
}
@media (max-width:1024px) {
    .new_collections h2 {
        font-size: 30px;
    }
    .new_collections hr {
        width: 120px;
        height: 3px;
    }
    .collections {
        grid-template-columns: repeat(3, 1fr); /* Adjusted to fit fewer items */
        gap: 20px;
    }
}
@media (max-width:800px) {
    .new_collections h2 {
        font-size: 25px;
    }
    .new_collections hr {
        width: 100px;
    }
    .collections {
        grid-template-columns: repeat(2, 1fr); /* Two items per row */
        gap: 15px;
    }
}
@media (max-width:500px) {
    .new_collections h2 {
        font-size: 20px;
    }
    .new_collections hr {
        width: 80px;
    }
    .collections {
        grid-template-columns: 1fr; /* Single column layout for mobile */
        gap: 10px;
    }
}
