.breadcrum img {
    width: 1.5rem; /* Use rem for better scalability */
}

.breadcrum {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Using rem for gap */
    color: #5e5e5e;
    font-size: 1rem; /* Base font size set in rem for scalability */
    font-weight: 700;
    margin: 5vh 10vw; /* Vertical and horizontal margin set in vw and vh for flexibility */
    text-transform: capitalize;
}

@media (max-width: 1280px) {
    .breadcrum {
        font-size: 0.9rem;
        margin: 4vh 8vw; /* Slightly reduce the margin */
    }
}

@media (max-width: 1024px) {
    .breadcrum {
        font-size: 0.85rem;
        margin: 3vh 5vw;
    }
}

@media (max-width: 800px) {
    .breadcrum {
        font-size: 0.8rem;
        margin: 2vh 3vw;
    }
}
