.productdisplay{
    display: flex;
    margin: 0px 170px;
}
.productdisplay_left{
    display: flex;
    gap: 17px;
}
.productdisplay_img_list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productdisplay_img_list img{
    height: 163px;
}
.productdisplay_main_img{
    height: 700px;
    width: 586px;
}
.productdisplay_right_star img{
    width: 20px;
}
.productdisplay_right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay_right h2{
    font-size: 40px;
    font-weight: 700;
    color: #3d3d3d;
}
.productdisplay_right_star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productdisplay_right_price{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay_right_old_price{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay_right_new_price{
    color: #ff4141;
}
.productdisplay_right_size h3{
margin-top: 55px;
color: #656565;
font-size: 20px;
font-weight: 600;
}
.productdisplay_right_sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.productdisplay_right_sizes div{
    padding: 18px 24px;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    cursor: pointer;
}
.productdisplay_right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #ff4141;
    margin-bottom: 40px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
}
.productdisplay_right_category {
    margin-top: 10px;
}
.productdisplay_right_category span{
    font-weight: 600;
}